# artifacts
/.turbo
/**/*/dist
/**/*/tmp
/**/*/.turbo
/**/*/*.js
/**/*/*.map
/**/*/*.d.ts
/**/*/*.tsbuildinfo

# dependencies
/node_modules
/**/*/node_modules

# editors
/.idea

# environment
/.env
/**/*/.env
