.EventsCell-root {
  display: flex;
  flex-direction: row;
  gap: var(--sizing-8);
}

.EventsCell-root > p {
  min-width: 100px;
}

.EventsCell-events {
  display: flex;
  flex-direction: column;
  gap: var(--sizing-4);
  width: 100%;
}

.Event-root {
  display: flex;
  flex-direction: row;
  gap: var(--sizing-8);
  position: relative;
}

.Event-root .Event-delete-button {
  background-color: var(--color-danger);
  display: none;
  height: fit-content;
  position: absolute;
  right: var(--sizing-8);
  top: 0;
}

.Event-root:hover .Event-delete-button {
  display: flex;
}

.Event-secondary-text {
  color: var(--color-text-secondary);
}

.Event-time {
  display: block;
  min-width: fit-content;
  white-space: nowrap;
}

.Event-mobile-time {
  display: none;
  min-width: fit-content;
}

.Event-time > p {
  line-height: var(--text-h5-line-height);
}

@media (max-width: 600px) {
  .EventsCell-root {
    flex-direction: column;
    gap: var(--sizing-2);
  }

  .EventsCell-events {
    gap: var(--sizing-4);
  }

  .Event-root {
    flex-direction: column;
    gap: var(--sizing-0);
  }

  .Event-time {
    display: none;
  }

  .Event-mobile-time {
    display: block;
  }
}
