.Dashboard-root {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  width: 100%;
  height: calc(100dvh - var(--topbar-height));
}

.Dashboard-main {
  grid-column: 3 / 13;
  overflow: hidden;
}

@media (max-width: 600px) {
  .Dashboard-root {
    grid-template-columns: repeat(1, 1fr);
  }

  .Dashboard-main {
    grid-column: 1 / 2;
  }
}
