.FormPageContent-root {
    display: flex;
    flex-direction: column;
    height: calc(100% - var(--header-height));
    justify-content: space-between;
}

.FormPageContent-actions {
    display: flex;
    background: var(--color-elevation-1);
    flex-direction: row;
    gap: var(--sizing-4);
    overflow-y: auto;
    padding-block: var(--sizing-4);
    padding-inline: var(--sizing-8);
}

.FormPageContent-content {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

@media (max-width: 600px) {
    .FormPageContent-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .FormPageContent-actions {
        padding: var(--sizing-4);
    }
}