.typography-h1 {
    color: var(--color-text-primary);
    font-size: var(--text-h1-font-size);
    font-weight: var(--text-h1-font-weight);
    line-height: var(--text-h1-line-height);
}

.typography-h2 {
    color: var(--color-text-primary);
    font-size: var(--text-h2-font-size);
    font-weight: var(--text-h2-font-weight);
    line-height: var(--text-h2-line-height);
}

.typography-h3 {
    color: var(--color-text-primary);
    font-size: var(--text-h3-font-size);
    font-weight: var(--text-h3-font-weight);
    line-height: var(--text-h3-line-height);
}

.typography-h4 {
    color: var(--color-text-primary);
    font-size: var(--text-h4-font-size);
    font-weight: var(--text-h4-font-weight);
    line-height: var(--text-h4-line-height);
}

.typography-h5 {
    color: var(--color-text-primary);
    font-size: var(--text-h5-font-size);
    font-weight: var(--text-h5-font-weight);
    line-height: var(--text-h5-line-height);
}

.typography-h6 {
    color: var(--color-text-primary);
    font-size: var(--text-h6-font-size);
    font-weight: var(--text-h6-font-weight);
    line-height: var(--text-h6-line-height);
}

.typography-body-1 {
    color: var(--color-text-primary);
    font-size: var(--text-body-1-font-size);
    font-weight: var(--text-body-1-font-weight);
    line-height: var(--text-body-1-line-height);
}

.typography-body-2 {
    color: var(--color-text-primary);
    font-size: var(--text-body-2-font-size);
    font-weight: var(--text-body-2-font-weight);
    line-height: var(--text-body-2-line-height);
}

.typography-button {
    color: var(--color-text-primary);
    font-size: var(--text-button-font-size);
    font-weight: var(--text-button-font-weight);
    line-height: var(--text-button-line-height);
    text-transform: var(--text-button-text-transform);
}

.typography-caption {
    color: var(--color-text-primary);
    font-size: var(--text-caption-font-size);
    font-weight: var(--text-caption-font-weight);
}