.TopBar-root {
  background: var(--color-elevation-1);
  display: flex;
  flex-direction: row;
  height: var(--topbar-height);
  justify-content: space-between;
  padding-block: var(--sizing-2);
  padding-inline: var(--sizing-4);
  width: 100%;
}

.TopBarIcon--mobile-only {
  display: none;
}

.TopBar-icons {
  display: flex;
  flex-direction: row;
  gap: var(--sizing-1);
  justify-content: flex-end;
}

@media (max-width: 600px) {
  .TopBarIcon--mobile-only {
    display: flex;
  }
}
